*
!*/

!upstream
!libgeometrycentral/**/numerical
!libgeometrycentral/**/pointcloud
!libgeometrycentral/**/surface
!libgeometrycentral/**/utilities
!libgeometrycentral/tests/spot.ply
!libgeometrycentral-tests/assets

!*.h
!*.c
!*.hpp
!*.ipp
!*.cpp
!*.in

!.build2/**
!buildfile
!bootstrap.build
!root.build
!export.build
!*manifest
!*testscript

!*.md
!LICENSE

!.git*

